.containParents {
  background-color: var(--bakcground-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
  font-size: 15px;
}

.logo {
  height: 5rem;
}

.multi,
.duo {
  color: var(--green);
}

.multi {
  padding-left: 10px;
  padding-right: 10px;
}

.compte {
  color: var(--red);
}

.player {
  height: 2rem;
}
